<!DOCTYPE html>
<html lang="en">
  <head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--====== Title ======-->
    <title>DISTRXCT || Home Page</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="static/ecom/assets/img/favicon.ico" type="img/png" />
    <!--====== Animate Css ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/animate.min.css?inst=1" >
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/bootstrap.min.css?inst=1" />
    <!--====== Fontawesome css ======-->
    <!-- <link rel="stylesheet" href="static/ecom/assets/css/awesome.min.css?inst=1"/> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--====== PE Icon 7 ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/pe-icon-7-stroke.css?inst=1" />
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/magnific-popup.css?inst=1" />
    <!--====== Owl Carousel css ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/slick.css?inst=1" />
    <!--====== Mean Menu ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/meanmenu.min.css?inst=1" />
    <!--====== Default css ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/default.css?inst=1" />
    <!--====== Style css ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/style.css?inst=1" />
  </head>
  
  <body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--====== PRELOADER ======-->
    <div id="preloader">
      <div>
        <div></div>
      </div>
    </div>
    <!--====== HEADER START ======-->
    <header class="header-absolute header-three sticky-header">
      <div class="container-fluid custom-container-two">
        <div class="mainmenu-area">
          <div class="d-flex align-items-center justify-content-between">
            <nav class="main-menu">
              <div class="logo">
                <a href="index.html"><img src="static/ecom/assets/img/logo.png?inst=1" alt="Onitit"></a>
              </div>
              <div class="menu-items">
                <ul>
                  <li class="active">
                    <a href="http://distrxct.alliedtechnologies.co:8000/">Home</a>
  
                  </li>
  
                  <li>
                    <a href="services.html">Categories</a>
                    <!-- <ul class="submenu">
                      <li><a href="service-details.html">Service Details</a></li>
                    </ul> -->
                  </li>
                   
                  <li>
                                              <a href="shop.html">Shop</a>
                                              <ul class="submenu">
                                                  <li><a href="shop-left-sidebar.html">All Products</a></li>
                                                  <!-- <li><a href="shop-detail.html">Shop Detail</a></li> -->
                                              </ul>
                                          </li>
                  <li>
                    <a href="blog-standard.html">News</a>
                    <ul class="submenu">
                      <li><a href="blog-standard.html">All News</a> </li>
                        <li><a href="blog-details.html">Latest News</a></li>
                        <!-- <li><a href="blog-grid.html">News Grid</a> </li> -->
                    </ul>
                  </li>
                  <li>
                    <a href="about_us">About</a>
                     
                    </li>
                  <li>
                    <a href="contact">Contact</a>
                     
                    </li>
                </ul>
              </div>
            </nav>
            <div class="main-right">
              <a href="opr" class="main-btn btn-filled">
                Dash
                </a>
              </a>
              <a href="#" class="offcanvas-trigger">
              <i class="far fa-ellipsis-v"></i>
              </a>
              <a href="cart.html" class="shoping-cart-sec">
                <div class="cart-icon">
                  <i class="fas fa-shopping-basket"></i>
                  <span class="cart-count">0</span>
                </div>
              </a>
              <!-- OFF CANVAS WRAP START -->
              <div class="off-canvas-wrap">
                <div class="overly"></div>
                <div class="off-canvas-widget">
                  <a href="#" class="off-canvas-close"><i class="fal fa-times"></i></a>
                  <div class="widget recent-post">
                    <h4 class="widget-title">Recent Posts</h4>
                    <ul>
                      <li>
                        <div class="post-img"
                          style="background-image: url(static/ecom/assets/img/laest-post/01.jpg);">
                        </div>
                        <div class="post-content">
                          <h6>
                            <a href="blog-details.html">Signs moved moveth itself on years whose
                            without.</a>
                          </h6>
                          <span class="time"><i class="far fa-clock"></i>4 May.2020</span>
                        </div>
                      </li>
                      <li>
                        <div class="post-img"
                          style="background-image: url(static/ecom/assets/img/laest-post/02.jpg);">
                        </div>
                        <div class="post-content">
                          <h6>
                            <a href="blog-details.html">Under brought airte them saw stars
                            created seas.</a>
                          </h6>
                          <span class="time"><i class="far fa-clock"></i>4 May.2020</span>
                        </div>
                      </li>
                      <li>
                        <div class="post-img"
                          style="background-image: url(static/ecom/assets/img/laest-post/03.jpg);">
                        </div>
                        <div class="post-content">
                          <h6>
                            <a href="blog-details.html">Our form there seas set forth fill
                            bearing.</a>
                          </h6>
                          <span class="time"><i class="far fa-clock"></i>4 May.2020</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="widget contact-widget">
                    <h4 class="widget-title">Contact Us</h4>
                    <ul>
                      <li>
                        <i class="far fa-map-marker-alt"></i>
                        305 Royal Track Suite 019, USA
                      </li>
                      <li>
                        <i class="far fa-phone"></i>
                        <a href="#">+10910-910920</a>
                      </li>
                      <li>
                        <i class="far fa-envelope-open"></i>
                        <a href="#">icons@yourwebsite.com</a>
                      </li>
                    </ul>
                  </div>
                  <div class="widget social-widget">
                    <h4 class="widget-title">Follow Us</h4>
                    <ul>
                      <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- OFF CANVAS WRAP END -->
            </div>
          </div>
        </div>
        <!-- Mobile Menu -->
        <div class="row">
          <div class="col-12">
            <div class="mobile-menu"></div>
          </div>
        </div>
      </div>
    </header>
    <!--====== HEADER END ======-->
    <!--====== BREADCRUMB SECTION START ======-->
    <section class="breadcrumb-section" style="background-image: url(static/ecom/assets/img/breadcrumb.jpg);">
      <div class="container">
        <div class="breadcrumb-text">
          <h1>Cart</h1>
          <p>Your Partner for Medical Cannabis</p>
        </div>
        <ul class="breadcrumb-nav">
          <li><a href="#">Home</a></li>
          <li>Cart</li>
        </ul>
        <span class="btg-text">DISTRXCT</span>
      </div>
      <div class="breadcrumb-shape">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
          <path d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z">
          </path>
        </svg>
      </div>
    </section>
    <!--====== BREADCRUMB SECTION END ======-->
    <!--====== Cart SECTION START ======-->
    
       <section class="cart-section pt-120 pb-120">

        <div class="container">
          <div class="product-section-heading-wrapper">
            <div class="product-section-heading section-title both-border">
              <span class="title-tag">Shopping</span>
              <h3 class="wow fadeIn">Cart</h3>
            </div>
         </div>
         <div class="row">
        <div class="col-md-12">
          <div class="w-100 table-responsive mb-4">
            <table class="table cw-cart-table">
              <thead>
                <tr>
                  <th></th>
                  <th scope="col" class="product-name">Product</th>
                  <th scope="col" class="product-qty">Quantity</th>
                  <th scope="col" class="product-price">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="product-remove cw-align">
                    <a href="#"><i class="fas fa-times"></i></a>
                  </td>
                  <td data-title="Product" class="has-title">
                    <div class="product-thumbnail">
                      <img src="static/ecom/assets/img/products/cart-1.png" alt="product_thumbnail">
                    </div>
                    <a href="shop-detail.html" class="btn-link">Blue Blast</a>
                  </td>
                  <td class="quantity cw-qty-sec cw-align has-title" data-title="Quantity">
                    <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="quantity-left-minus btn btn-number" data-type="minus" data-field="">
                              <i class="fa fa-minus"></i>
                            </button>
                          </span>
                          <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                          <span class="input-group-btn">
                            <button type="button" class="quantity-right-plus btn btn-number" data-type="plus" data-field="">
                              <i class="fa fa-plus"></i>
                            </button>
                          </span>
                        </div>
                  <td class="product-price cw-align has-title" data-title="Price">
                    <span class="product-currency">$</span> <span class="product-amount">109</span>
                  </td>
                </tr>
                <tr>
                  <td class="product-remove cw-align">
                    <a href="#"><i class="fas fa-times"></i></a>
                  </td>
                  <td data-title="Product" class="has-title">
                    <div class="product-thumbnail">
                      <img src="static/ecom/assets/img/products/cart-2.png" alt="product_thumbnail">
                    </div>
                    <a href="shop-detail.html" class="btn-link">Florida's Finest</a>
                  </td>
                  <td class="quantity cw-qty-sec cw-align has-title" data-title="Quantity">
                    <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="quantity-left-minus1 btn btn-number" data-type="minus" data-field="">
                              <i class="fa fa-minus"></i>
                            </button>
                          </span>
                          <input type="text" id="quantity1" name="quantity" class="form-control input-number" value="1">
                          <span class="input-group-btn">
                            <button type="button" class="quantity-right-plus1 btn btn-number" data-type="plus" data-field="">
                              <i class="fa fa-plus"></i>
                            </button>
                          </span>
                        </div>
                  </td>
                  <td class="product-price cw-align has-title" data-title="Price">
                    <span class="product-currency">$</span> <span class="product-amount">44</span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4">
                    <button class="main-btn btn-filled float-left">Continue Shoping</button>
                    <button class="main-btn btn-filled float-right">Update Cart</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="row">
            <div class="col-lg-12 mb-5">
              <div class="cw-product-promo">
                <div class="cw-title">
                  <h5>Discount Code</h5>
                </div>
                <form>
                  <div class="form-group mb-0">
                    <label for="couponCode">Enter coupon code</label>
                    <input type="text" class="form-control" placeholder="Coupon Code" id="couponCode">
                    <button type="submit" class="main-btn btn-filled mt-4">Apply</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="offset-lg-6 col-lg-6 col-md-12">
              <div class="cw-product-promo">
                <table class="table cw-table-borderless">
                  <tbody>
                    <tr>
                      <td> <b>Subtotal</b> </td>
                      <td class="text-right">$ 99.99</td>
                    </tr>
                    <tr>
                      <td> <b>Shipping</b> </td>
                      <td class="text-right">$ 2.99</td>
                    </tr>
                    <tr>
                      <td> <b>Total</b> </td>
                      <td class="text-right">$ 103.99</td>
                    </tr>
                  </tbody>
                </table>
                <button type="submit" class="main-btn btn-filled w-100">Proceed to Checkout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>

       </section>

    <!--====== Cart SECTION END ======-->
    <!--====== GO TO TOP PART START ======-->
    <div class="go-top-area">
      <div class="go-top-wrap">
        <div class="go-top-btn-wrap">
          <div class="go-top go-top-btn">
            <i class="fal fa-angle-double-up"></i>
            <i class="fal fa-angle-double-up"></i>
          </div>
        </div>
      </div>
    </div>
    <!--====== GO TO TOP PART ENDS ======-->
    <footer class="footer-style-three">
      <div class="footer-top">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-sm-4">
              <div class="logo text-center text-sm-left">
                <a href="index.html">
                <img src="static/ecom/assets/img/logo.png?inst=1" alt="DISTRXCT">
                </a>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="social-icon text-center text-sm-right">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-behance"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- widgets -->
      <div class="footer-widget-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="widget nav-widget d-flex justify-content-start">
                <div>
                  <h5 class="widget-title">Company</h5>
                  <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Hybrid</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Referral Program</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Legal</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="widget nav-widget d-flex justify-content-start justify-content-lg-center">
                <div>
                  <h5 class="widget-title">Community</h5>
                  <ul>
                    <li><a href="#">Accesories</a></li>
                    <li><a href="#">Seeds</a></li>
                    <li><a href="#">Q&A</a></li>
                    <li><a href="#">Write for DOnations</a></li>
                    <li><a href="#">Indica</a></li>
                    <li><a href="#">Pre-Role</a></li>
                    <li><a href="#">Shop Swag</a></li>
                    <li><a href="#">Cannabis Accesories </a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="widget nav-widget d-flex justify-content-start justify-content-lg-center">
                <div>
                  <h5 class="widget-title">Solutions</h5>
                  <ul>
                    <li><a href="#">CBD Oil</a></li>
                    <li><a href="#">Medical Cannabis </a></li>
                    <li><a href="#">Edibles</a></li>
                    <li><a href="#">Topicals</a></li>
                    <li><a href="#">Cannabis Extract </a></li>
                    <li><a href="#">Cannabis Accesories </a></li>
                    <li><a href="#">Cannabis for health</a></li>
                    <li><a href="#">Hybrid</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="widget recent-post">
                <div>
                  <h5 class="widget-title">news feeds</h5>
                  <div class="post-loop">
                    <div class="post">
                      <div class="post-img">
                        <img src="static/ecom/assets/img/recent-post-wid/01.jpg" alt="Image">
                      </div>
                      <div class="post-desc">
                        <span class="time"><i class="fal fa-calendar-alt"></i> 14th May 2020</span>
                        <h5><a href="blog-details.html">10 New Regulation for Cannabis in 
                          USA.</a>
                        </h5>
                      </div>
                    </div>
                    <div class="post">
                      <div class="post-img">
                        <img src="static/ecom/assets/img/recent-post-wid/02.jpg" alt="Image">
                      </div>
                      <div class="post-desc">
                        <span class="time"><i class="fal fa-calendar-alt"></i> 14th May 2020</span>
                        <h5><a href="blog-details.html">10 New Regulation for Cannabis in 
                          USA.</a>
                        </h5>
                      </div>
                    </div>
                    <div class="post">
                      <div class="post-img">
                        <img src="static/ecom/assets/img/recent-post-wid/03.jpg" alt="Image">
                      </div>
                      <div class="post-desc">
                        <span class="time"><i class="fal fa-calendar-alt"></i> 14th May 2020</span>
                        <h5><a href="blog-details.html">10 New Regulation for Cannabis in 
                          USA.</a>
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- copyright -->
      <div class="copy-right-area">
        <div class="container">
          <div class="copyrigt-text d-sm-flex justify-content-between">
            <p>Copyright By@<a href="#">yourwebsite</a> - 2020</p>
            <p>Design By@<a href="#">yourwebsite</a> - 2020</p>
          </div>
        </div>
      </div>
    </footer>
    <!--====== FOOTER PART END ======-->
    <!-- Quick-view -->
  <div class="modal fade" id="quickViewSnap" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered w-quick-view" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-5">
              <div class="w-quick-view-img">
                <img src="static/ecom/assets/img/quick-img.png" class="w-product-slider-main img-responsive" alt="img-product">
              </div>
            </div>
            <div class="col-md-7">
              <div class="cw-product-des-wrapper cw-model-wrapper">
                <div class="cw-shop-details-container hybrid">
                  <div class="cw-shop-details-title-wrapper">
                    <div class="cw-product-meta-icon">
                      <span class="strain-type"></span>
                      <span class="strain-name">-Indica-</span>
                    </div>
                    <div class="cw-shop-product-review-star">
                      <div class="rating-star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> 5.54
                        <span class="cw-primary-color">(5k Reviews)</span>
                      </div>
                    </div>
                    <div class="cw-shop-product-title">
                      <h3>Blue Dream <span class="cw-product-tag">BD</span></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged.</p>

                      <div class="cw-shop-product-meta">
                        <div class="cw-shop-product-meta-content">
                          <div class="cw-product-stock">
                            <p>Avability: </p>
                            <p class="cw-instock">In Stock</p>
                          </div>
                          <div class="cw-product-price">
                            <p>Price: </p>
                            <p class="cw-offer-price">250.00 <span class="cw-price-strike"> 350.00</span></p>
                          </div>
                        </div>
                        <div class="cw-product-qty">
                          <div class="cw-order-qty">
                        <p>Quantity</p>
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="quantity-left-minus btn btn-number" data-type="minus" data-field="">
                              <i class="fa fa-minus"></i>
                            </button>
                          </span>
                          <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                          <span class="input-group-btn">
                            <button type="button" class="quantity-right-plus btn btn-number" data-type="plus" data-field="">
                              <i class="fa fa-plus"></i>
                            </button>
                          </span>
                        </div>
                      </div>
                          <div class="dropdown cw-unit">
                            <p>Unit</p>
                            <button type="button" id="weight-btn-2" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ounces</button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item weight-btn-2" data-unit="g" href="#">Grams</a>
                              <a class="dropdown-item weight-btn-2" data-unit="oz" href="#">Ounces</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="cw-shop-product-action">
                        <div class="cw-product-btn">
                          <button class="main-btn btn-filled">Add To Cart</button>
                        </div>
                        <div class="cw-shop-product-share">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-linkedin-in"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                          <a href="#"><i class="fab fa-pinterest"></i></a>
                        </div>
                      </div>
                      <div class="cw-shop-product-bottom-meta">
                        <div class="cw-shop-tags-meta">
                          <span><strong>Tags:</strong>
                            <a href="#">concentrates, </a>
                            <a href="#">weefly</a>
                          </span>
                        </div>
                        <div class="cw-shop-catg-meta">
                          <span><strong>Category:</strong>
                            <a href="#">accessories</a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END/ Quick-view -->
    <!--====== jquery js ======-->
    <script src= "static/ecom/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="static/ecom/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!--====== Bootstrap js ======-->
    <script src="static/ecom/assets/js/bootstrap.min.js"></script>
    <script src="static/ecom/assets/js/popper.min.js "></script>
    <!--====== Slick js ======-->
    <script src="static/ecom/assets/js/slick.min.js"></script>
    <!--====== Ion range slider js ======-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <!--====== Isotope js ======-->
    <script src="static/ecom/assets/js/isotope.pkgd.min.js"></script>
    <!--====== Magnific Popup js ======-->
    <script src="static/ecom/assets/js/jquery.magnific-popup.min.js"></script>
    <!--====== inview js ======-->
    <script src="static/ecom/assets/js/jquery.inview.min.js"></script>
    <!--====== counterup js ======-->
    <script src="static/ecom/assets/js/jquery.countTo.js"></script>
    <!--====== easypiechart js ======-->
    <script src="static/ecom/assets/js/jquery.easypiechart.js"></script>
    <!--====== Mean Menu ======-->
    <script src="static/ecom/assets/js/jquery.meanmenu.min.js"></script>
    <!--====== Main js ======-->
    <script src="static/ecom/assets/js/main.js"></script>
  </body>

<!-- Mirrored from metropolitanhost.com/themes/themeforest/html/DISTRXCT/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Oct 2022 19:02:50 GMT -->
</html>