{% load static %}


<!DOCTYPE html>


<html lang="en" class="light-style  customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="assets/"
  data-template="vertical-menu-template-no-customizer">
  <head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--====== Title ======-->
    <title>DISTRXCT || Home Page</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="static/ecom/assets/img/favicon.ico" type="img/png" />
    <!--====== Animate Css ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/animate.min.css?inst=1" >
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/bootstrap.min.css?inst=1" />
    <!--====== Fontawesome css ======-->
    <!-- <link rel="stylesheet" href="static/ecom/assets/css/awesome.min.css?inst=1"/> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--====== PE Icon 7 ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/pe-icon-7-stroke.css?inst=1" />
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/magnific-popup.css?inst=1" />
    <!--====== Owl Carousel css ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/slick.css?inst=1" />
    <!--====== Mean Menu ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/meanmenu.min.css?inst=1" />
    <!--====== Default css ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/default.css?inst=1" />
    <!--====== Style css ======-->
    <link rel="stylesheet" href="static/ecom/assets/css/style.css?inst=1" />
  </head>
  
<body>

  <!-- Content -->
  <div class="container flex-grow-1 container-p-y my-2">
    <h3>Thank you for using DISTRXCT-  😇</h3>
    <p>Distrxct Ecommerce, exciting products and even better gift</p>

    <!-- Examples -->
    <div class="row mt-sm-4 mt-3">
      <div class="col-12 mb-3">
        <div class="card">
          <h5 class="card-header"></h5>
          <!-- Template Demo Links -->
          <table class="table">
            <tbody>
              <tr>
                <th></th>
                <td><a href="html/index.html" target="_blank"></a></td>
              </tr>
            </tbody>
          </table>
          <!--/ Template Demo Links -->
        </div>
      </div>

      <div class="col-12 mb-3">
        <div class="card">

          <h5 class="card-header">Other Important Links</h5>
          <!-- Other Links -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">URL</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td>License </td>
                <td>
                  <a href="" target="_blank"></a>
                </td>
              </tr>

              <tr>
                <td>Documentation</td>
                <td>
                  <a href=""
                    target="_blank">/</a>
                </td>
              </tr>

              <tr>
                <td>Changelog</td>
                <td>
                  <a href=""
                    target="_blank"></a>
                </td>
              </tr>


              <tr>
                <td>GitHub Repository</td>
                <td>
                  <a href=""
                    target="_blank"></a>
                </td>
              </tr>


              <tr>
                <td>Support</td>
                <td>
                  <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                    target="_blank">https://github.com/themeselection/sneat-html-admin-template-free/issues</a>
                </td>
              </tr>

            </tbody>
          </table>
          <!--/ Other Links -->
        </div>
      </div>

      <div class="col-12 mb-3">
        <p>Looking for <strong>PRO</strong> version with <strong>Premium support</strong>?</p>
        <div class="upgrade-to-pro">
          <a href="https://themeselection.com/products/sneat-bootstrap-html-admin-template/" target="_blank"
            class="btn btn-danger">Upgrade to <strong>Sneat Pro</strong></a>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->
  <script src= "static/ecom/assets/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="static/ecom/assets/js/vendor/jquery-1.12.4.min.js"></script>
  <!--====== Bootstrap js ======-->
  <script src="static/ecom/assets/js/bootstrap.min.js"></script>
  <script src="static/ecom/assets/js/popper.min.js "></script>
  <!--====== Slick js ======-->
  <script src="static/ecom/assets/js/slick.min.js"></script>
  <!--====== Ion range slider js ======-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
  <!--====== Isotope js ======-->
  <script src="static/ecom/assets/js/isotope.pkgd.min.js"></script>
  <!--====== Magnific Popup js ======-->
  <script src="static/ecom/assets/js/jquery.magnific-popup.min.js"></script>
  <!--====== inview js ======-->
  <script src="static/ecom/assets/js/jquery.inview.min.js"></script>
  <!--====== counterup js ======-->
  <script src="static/ecom/assets/js/jquery.countTo.js"></script>
  <!--====== easypiechart js ======-->
  <script src="static/ecom/assets/js/jquery.easypiechart.js"></script>
  <!--====== Mean Menu ======-->
  <script src="static/ecom/assets/js/jquery.meanmenu.min.js"></script>
  <!--====== Main js ======-->
  <script src="static/ecom/assets/js/main.js"></script>
</body>

</html>
